body{
	background-color: black;
	color: white;
}

#resume-wrapper{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#left-rail{
	float: left;
	width: 25%;
	max-width: 350px;
	background: #05CD51;
}

#background img{
	width: 100%;
}

#content-wrapper{
	float:left;
	width: 50%;
	margin: 4% 20% 0% 5%;
}

#header{
	padding: 2% 0 2% 3%;
	font-size: 32px;
	background-color: #05CD51;
}

.contact-info {
	margin: 6%;
}
.contact-info span{
	background-color: #49D977;
	padding: 2% 3%;


}

#past-experience-wrapper{
	width: 43%;
	margin-right: 2%;
	float: left;
}

.past-experience .past-experience-header{
	font-size: 18px;
	float: left;
}

#description-wrapper{
	margin-bottom: 2%;
}

.section-header{
	border-bottom:1px solid gray;
	border-right: 2px solid #05CD51;
	font-size: 24px;
	padding: 0 0 2% 2%;
	color: #05CD51;
}

#education{
}
